.title {
  @apply tracking-widest text-base font-medium;

  &::after {
    content: '';
    width: 68px;
    height: 1px;
    display: block;
    margin-top: 8px;
    background: rgb(41, 41, 41);
  }
}
